h1{
    color: rgb(164, 5, 48);
    font-size: 36px;
    text-align: center;
}
.header{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom: 2px solid rgb(222, 20, 74);
}
.Pro{
    color: rgb(44, 17, 224);
    font-size: 24px;
    text-align: right;
}
.item{
    background-color: rgb(57, 12, 217);
    padding: 10px;
    margin: 10px;
    border: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}